@media screen and (max-width: 640px) {
  .AboutUs {
    header {
      background-color: yellow;
      padding: 5px;
    }

    footer {
      background-color: yellow;
      text-align: center;
      padding: 5px;
    }
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .AboutUs {
    header {
      background-color: yellow;
      padding: 5px;
    }

    footer {
      background-color: yellow;
      text-align: center;
      padding: 5px;
    }
  }
}
@media screen and (min-width: 1008px) {
  .AboutUs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    header {
      background-color: orange;
      padding: 10px;
      width: 100vw;
    }
  
    footer {
      padding: 10px;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      width: 100vw;
    }
  }
  
  .AboutUsContainer {
    display: flex;
    height: 50%;
    width: 95%;
    margin: 10px;
  
    div {
      display: flex;
      width: 50%;
      padding: 10px;
      justify-content: space-evenly;
    }
  
    img {
      width: 100%;
    }
  }
}