.AboutUs {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    background-color: orange;
    padding: 10px;
    width: 100vw;
  }

  footer {
    padding: 10px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}

.AboutUsContainer {
  display: flex;
  height: 50%;
  width: 95%;
  margin: 10px;

  div {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: space-evenly;
  }

  img {
    width: 200px;
  }
}