.Dashboard {
  display: flex;
  
  main {
    background-color: green;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
  }
}

.DashboardContainer {
  background-color: red;
  display: flex;
  height: 50%;
  width: 100%;
}