.Parallax {
  
    background: linear-gradient(135deg, #2B7594 0%, #0b110c 100%) !important;
    background-position: fixed !important;
    overflow: hidden !important;
    font-family: 'Orbitron', sans-serif !important;
  
  
  li {
      list-style-type: none;
  }
  
  li[id=specks] {
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100vw;
  }
  
  div[name=img] {
    position: absolute;
    height: 100000px;
    width: 100000px;
    top: -8500px;
    left: -8000px;
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    animation-name: float;
    animation-iteration-count: infinite;
  }
  
  div[id=img-1] {
    opacity: 0.25;
    background: url('https://image.ibb.co/jcTvpv/dust1.jpg');
    background-repeat: repeat;
    animation-duration: 60s;
  }
  
  div[id=img-2] {
    opacity: 0.2;
    background: url('https://image.ibb.co/goU1Uv/dust2.jpg');
    background-repeat: repeat;
    animation-duration: 45s;
  }
  
  div[id=img-3] {
    opacity: 0.15;
    background: url('https://image.ibb.co/cymRwa/dust3.jpg');
    background-repeat: repeat;
    animation-duration: 35s;
  }
  /*ANIMATIONS*/
  
  @keyframes twinkle {
    10% {
      transform: translate(0px, 0px);
    }
    30% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    70% {
      opacity: 0;
    }
    100% {
      transform: translate(175px, 100px);
    }
  }
  
  @keyframes float {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
        transform:translate(-2000px, -1000px);
    }
  }
}