.Character {
  img {
    width: 10px;
    height: 10px;
  }
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px;
}

.HiddenEditBox {
  background: #a1bbbb;
  box-shadow: 0px 1px 2px #000;
  font-family: 'Roboto', sans-serif;
  display: flex;

  h1 {
    padding: 5px;
  }

  h3 {
    padding: 5px;
  }
}

.HiddenEditBox:hover {
  background: #251A18;
  color: #a0a0a0;
  cursor: pointer;
}

.OpenEditBox {
  background: #251A18;
  color: #a0a0a0;
  
  h1 {
    padding: 5px;
    
  }

  h1:hover{
    cursor: pointer;
  }
}

.Form {
  padding: 10px 5px;
  border-bottom: 1px solid darkslategray;
  p {
    margin: 10px 0px 10px 0px;
  }

  button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 80px;
    align-self: left;
    padding: 5px;
    color: darkslategray;
    transition: all ease-in .1s;
    background-color: #fff;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #a1bbbb;
    transform: scale(1.05);
  }
}