.ChapterCategory {
  background-color: #ccc;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2 {
  align-self: center;
}

.div {
  align-self: center;
  width: 85%;
  height: 40%;
  display: flex;
  justify-content: space-between;

}