.CharacterCategory {
  background-image: url('./character.jpg');
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2, div {
    align-self: center;
  }
}

.CharacterCategoryContainer {
  width: 85%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  align-self: center;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
} 