.LocationCategory {
  background-color: palegreen;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2, div {
    align-self: center;
  }
}

.LocationCategoryContainer {
  width: 85%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}