@media screen and (max-width: 640px) {
  .NewStory {
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    width: 30vw;
    align-self: center;

    p {
      text-transform: uppercase;
      color: #A0A0A0;
    }
  }

  .NewStoryButton {
    width: 50%;
    margin-top: 10px;
    background-color: #9E221A;
    border: 1px solid #a0a0a0;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    transition: all ease-in .1s;
  }

  .NewStoryButton:hover {
    background-color: #671b16;
    transform: scale(1.05);
    cursor: pointer;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .NewStory {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #5c5250;
    p {
      text-transform: uppercase;
      color: #A0A0A0;
    }
  }
  
  .NewStoryButton {
    width: 50%;
    margin-top: 10px;
    background-color: #9E221A;
    border: 1px solid #a0a0a0;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    transition: all ease-in .1s;
  }
  
  .NewStoryButton:hover {
    background-color: #671b16;
    transform: scale(1.05);
    cursor: pointer;
  }
}
@media screen and (min-width: 1008px) {
  .NewStory {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #5c5250;
    p {
      text-transform: uppercase;
      color: #A0A0A0;
    }
  }
  
  .NewStoryButton {
    width: 50%;
    margin-top: 10px;
    background-color: #9E221A;
    border: 1px solid #a0a0a0;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    transition: all ease-in .1s;
  }
  
  .NewStoryButton:hover {
    background-color: #671b16;
    transform: scale(1.05);
    cursor: pointer;
  }
}