@media screen and (max-width: 640px) {
  .NewStory {
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }

  .NewStoryButton {
    width: 80%;
    margin-top: 10px;
    border-style: none;
    background-color: #9E221A;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in .1s;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .NewStory {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .NewStoryButton {
    width: 70%;
    margin-top: 10px;
    border-style: none;
    background-color: #9E221A;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in .1s;
  }
  
  .NewStoryButton:hover {
    background-color: #247E7F;
    transform: scale(1.05);
    cursor: pointer;
  }
}
@media screen and (min-width: 1008px) {
  .NewStory {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .NewStoryButton {
    width: 70%;
    margin-top: 10px;
    border-style: none;
    background-color: #9E221A;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in .1s;
  }
  
  .NewStoryButton:hover {
    background-color: #247E7F;
    transform: scale(1.05);
    cursor: pointer;
  }
}