.NewStory {
  margin-top: 10px;
  font-weight: bold;
}

.NewStoryButton {
  width: 70%;
  margin-top: 10px;
  border-style: none;
  background-color: palegreen;
  font-size: .9em;
  border-radius: 5px;
  padding: 5px;
}

.NewStoryButton:hover {
  background-color: plum;
  cursor: pointer;
}