.Chapter {
  img {
    width: 10px;
    height: 10px;
  }

  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px;
  
}

.HiddenEditBox {
  background: rgb(169, 191, 214);
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

  h1 {
    padding: 5px 5px;
  }

  h3 {
    padding: 5px 5px;
  }
}

.HiddenEditBox:hover {
  background: rgb(39, 39, 39);
  cursor: pointer;
}

.OpenEditBox {
  background: rgb(39, 39, 39);
  
  h1 {
    padding: 5px 5px;
  }

  h1:hover{
    cursor: pointer;
  }
}

.Form {
  padding: 10px 5px;

  p {
    margin: 10px 0px 10px 0px;
  }

  button {
    margin-top: 10px;
  }
}