.AboutDeveloperCard {
  background-color: yellow;
  width: 30%;

  div {
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
}