@media screen and (max-width: 640px) {
  .AboutDeveloperCard {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #a1bbbb;

    img {
      width: 90%;
      border-radius: 50%;
    }

    div {
      width: 100%;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
    }

    h2 {
      text-align: center;
      font-size: 2em;
      margin-bottom: 10px;
    }

    p {
      padding: 10px;
      border-radius: 5px;
      font-size: 1.3em;
    }
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .AboutDeveloperCard {
    margin: 10px;
    display: flex;
    padding: 5px;
    background-color: #a1bbbb;

    img {
      width: 100%;
      border-radius: 50%;
    }

    div {
      width: 50%;
      margin: 5px;
    }

    h2 {
      text-align: center;
      font-size: 2em;
      margin-bottom: 5px;
    }

    p {
      height: 90%;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.3em;
      text-align: center;
    }
  }
}
@media screen and (min-width: 1008px) {
  .AboutDeveloperCard {
    margin: 10px;
    display: flex;
    padding: 5px;
    background-color: #a1bbbb;

    div {
      width: 50%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        border-radius: 50%;
        width: 85%;
      }
    }

    h2 {
      text-align: center;
      font-size: 2em;
      margin-bottom: 5px;
    }

    p {
      height: 95%;
      padding: 10px;
      border-radius: 5px;
      font-size: 1em;
      text-align: center;
    }
  }
}