.UserCard {
  background-color: orange;
  height: 35vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    margin: 8px 0px 5px 0px;
    max-width: 60%;
    border-radius: 50%;
    align-self: center;
  }

  button {
    align-self: center;
    margin: 5px 0px 10px 0px;
    width: 50%;
  }

  h3 {
    align-self: center;
    margin-top: 5px;
  }
}