.Footer {
  position: fixed;
  height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: palegoldenrod;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}